@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light,
    dark --default;
}

:root {
  --color-primary: #000000; /* Black - main text */
  --color-secondary: #444444; /* Dark gray - accents or subtitles */
  --color-base-100: #dbdbdb; /* White - background */
  --color-base-200: #f5f5f5; /* Light gray - sections/cards */
  --color-base-300: #e0e0e0; /* Lighter gray - borders */
}

[data-theme="dark"] {
  --color-primary: #ffffff; /* White - main text */
  --color-secondary: #cccccc; /* Soft white-gray - accents */
  --color-base-100: #000000; /* Black - main background */
  --color-base-200: #111111; /* Dark gray - section background */
  --color-base-300: #222222; /* Deeper gray - cards/borders */
  .btn-primary {
    background-color: #ffffff;
    color: #000000;
  }
}

.active{
  @apply bg-base-300
}

.heading-font {
  font-family: "DM Serif Display", serif;
}

.font {
  font-family: "Inter", sans-serif;
}
